{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
    <section class="px-100 investor-app">
        <div class="row">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Investor application form</li>
            </ul>
            <div class="col-lg-12 investor-app-block">
                <h2 class="section-title mb-lg-5 mb-4">Form for investor filling:</h2>
                <form action="">
                    <div class="row">
                        <form action="" method="POST">
                            {% csrf_token %}
{#                            {{ form|crispy }}#}
{#                            <button type="submit" class="active-btn my-4">Send</button>#}

                            <div class="col-lg-9">
                                <div class="row">
                                    <div class="col-lg-6">
                                        {{ form.country }}
{#                                        <label for="country">{{ form.country }}</label>#}
{#					                    <input  type="text" placeholder="Select" id="country" required class="input_form">#}
{#                                        <select name="" id="" class="input_form">#}
{#                                            <option value="">Select country</option>#}
{#                                        </select>#}
{#                                        <label for="country">{{ form.country }}</label>#}

{#                                        <div class="col-lg-4 col-md-12 mb-4">#}
{#                                            <label for="country">Country</label>#}
{#                                            {{form.country}}#}
{#                                            <div class="invalid-feedback">#}
{#                                              Please select a valid country.#}
{#                                            </div>#}
{#                                          </div>#}

                                        <label for="company_name"></label>
					                    <input  type="text" placeholder="Company name" id="company_name" accept="image/*" required class="input_form">

{#                                        <input type="text" placeholder="Company name" class="input_form">#}
                                        <input type="email" placeholder="Email" class="input_form">
                                        <input type="number" placeholder="How much are you planning to invest?" class="input_form">
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="text" placeholder="Full name" class="input_form">
                                        <input type="text" placeholder="Position" class="input_form">
                                        <input type="text" placeholder="Phone number" class="input_form">
                                        <select name="" id="" class="input_form">
                                            <option value="">Which branch are you interested in?</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <textarea name="" id="" cols="30" rows="5" placeholder="Message" class="input_form"></textarea>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                                            <label class="custom-control-label" for="customCheck">I agree to the processing of personal data in accordance with the <a href="" style="text-decoration: underline!important;">Privacy Policy</a></label>
                                          </div>
                                          <button type="submit" class="active-btn my-4">Send</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}