{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="px-100 about">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 p-0">
                    <h5 class="page-title">Geography and Traditions of Central Asia</h5>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row no-gutters mt-4">
                <p class="main-text">
                    &emsp;&emsp; Central Asia, broadly defined as the region east of the Caspian Sea incorporating
                    Kazakhstan,
                    Uzbekistan, Turkmenistan, Tajikistan, and Kyrgyzstan, has emerged as one world's fastest-growing regions
                    since the late 1990s and has shown
                    notable development potential. Among the region's advantages are its high-priced commodities (oil, gas,
                    cotton, and gold), reasonable
                    infrastructure and human capital, and a strategic location between Asia and Europe. Furthermore, Central
                    Asian regions have already
                    transitioned into market-oriented economic reforms to boost economic performance and private sector
                    competitiveness. These key characteristics
                    of countries have long been in the central interests of numerous developed countries to deepen economic
                    relations and develop
                    investment potential to expand trade turnover. <br>
                    &emsp;&emsp; The total area of the countries of the Central Asian regions is more than 4 million square
                    kilometers (see Figure). The northern part is
                    covered with Kazakhstan, which covers almost 68 percent of the entire territory. Kazakhstan bordered
                    Russia from the north, and half of the
                    western part stretches the Caspian Sea, from where it has direct sea access to Azerbaijan and Iran. <br>
                    &emsp;&emsp; The eastern part of Central Asia, consisting of Kazakhstan, Kyrgyzstan, and Tajikistan,
                    borders China. The total area of Kyrgyzstan is about
                    200 thousand square kilometers, whereas Tajikistan is 142 thousand square kilometers. The southern part
                    of Central Asian countries borders
                    most Turkmenistan between Iran, Uzbekistan, and Tajikistan to Afghanistan. The total area of Uzbekistan
                    is about 450 thousand square
                    kilometers, and Turkmenistan is more than 50 thousand square kilometers larger than Uzbekistan. <br>
                    There is no international sea access in these regions. This is significant for a region comprising
                    largely small landlocked economies with no
                    access to the sea for trade. Thanks to the recent joint efforts of the governments of these countries,
                    infrastructure is being developed and
                    expanded to build alternative routes of international logistics corridors with access to the sea for
                    closer countries bordering Central Asia, such
                    as Russia, China, Afghanistan, and Pakistan.
                </p>
                <div class="img">
                    <p class="bold">Figure. Central Asia overview</p>
                    <img src="{% static 'images/image.png' %}" alt="">
                    <span>Source: World Bank Data, updated statistics using BCG, Investing in Central Asia: One region, many
                        opportunities, 2018.</span>
                </div>
                <p class="main-text mt-4">
                    &emsp;&emsp; Traditions, culture, and language in Central Asia are very similar and, in many ways,
                    related. The Central Asian countries mostly share their religion of Islam. Strong respect for elders is
                    also common in Central Asia. People also attach great
                    importance to family and homeland. Under Soviet rule, people became dependent on sharing resources among
                    family members, which meant that a
                    strong extended family was valuable. <br>
                    &emsp;&emsp; Most of the population speaks their native language: Kazakh, Uzbek, Kyrgyz, Tajik and
                    Turkmen languages.
                    The peculiarity is that these languages are considered as the ancient Turkish and partly Persian
                    dialects. The influence of the
                    previous Soviet Union is an important factor in the culture of Central Asia. Russian is spoken in all
                    countries of Central Asia. After the collapse of
                    the Soviet Union, these countries focused on independent development policies, developed international
                    and diplomatic relations with almost all
                    countries. Consequently, young people focused on the study of foreign languages. Therefore, among the
                    younger generation of citizens,
                    knowledge of the English language has become much more popular.
                </p>
            </div>
        </div>

    </section>
{% endblock %}