* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Raleway", "Arial";
}

a {
  text-decoration: none !important;
  color: #222222;
}

button,
input,
textarea,
select {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  resize: none;
}

.px-100 {
  padding: 0 100px;
}

.wrapper {
  width: 100%;
}

.navbar {
  -webkit-transition: top 0.5s ease;
  transition: top 0.5s ease;
  background: #1d3b70;
}

.navbar-hide {
  top: -100px;
}

.navbar .line {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  width: calc(100% - 200px);
  background: #fff;
  margin: 0 auto;
}

.navbar-brand img {
  width: 150px;
  margin: 20px 0;
}

.navbar .search-icon {
  border: none;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .nav-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 5px;
}

.navbar .nav-link {
  color: #fff;
}

.navbar .dropdown button {
  color: #fff;
}

.navbar .dropdown-menu {
  min-width: auto;
}

input {
  border: 1px solid #ccc;
  padding: 10px 15px;
  border-radius: 2px;
  background: #fefefe;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.my_input_form {
  border: 1px solid #ccc;
  padding: 10px 15px;
  border-radius: 2px;
  background: #fefefe;
  width: 90%;
  margin: 10px 0 ;
}

.input_form {
  border: 1px solid #ccc;
  padding: 10px 15px;
  border-radius: 2px;
  background: #fefefe;
  width: 100%;
  margin: 10px 0;
}

.input_form::-webkit-input-placeholder {
  color: #222222;
}

.input_form:-ms-input-placeholder {
  color: #222222;
}

.input_form::-ms-input-placeholder {
  color: #222222;
}

.input_form::placeholder {
  color: #222222;
}

.search-bar {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: 99999;
}

.search-bar .bar {
  height: 100px;
  background: #fff;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0 100px;
}

.search-bar .bar button {
  position: absolute;
  right: 110px;
  border: none;
  background: none;
}

.search-bar .bar input {
  width: 100%;
  padding-left: 50px;
}

.search-bar .bar span {
  background: url(../images/search.png);
  position: absolute;
  width: 30px;
  background-size: contain;
  height: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 110px;
}

.search-bar .bar .close-btn {
  font-size: 50px;
  font-weight: thin;
  top: 45%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  right: 50px;
  color: #999;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.search-bar .bar .close-btn:hover {
  color: #222222;
}

.search-bar .overlay {
  z-index: 99;
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.active-btn {
  background: #2958e5;
  border: 1px solid transparent;
  border-radius: 2px;
  display: block;
  padding: 8px 24px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #fff;
}

.active-btn:hover {
  color: #2958e5;
  border: 1px solid #2958e5;
  background: none;
}

.carousel {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel-inner {
  height: 100%;
}

.carousel-inner img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel-inner .overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: #000;
  opacity: 0.5;
}

.carousel-inner .overlay::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 70vh;
  background: url(../images/logo-vector.svg) no-repeat;
  background-size: contain;
  background-position: 100% 100%;
}

.carousel-prev {
  width: 50px;
  height: 50px;
  bottom: 50px;
  left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  z-index: 99;
}

.carousel-next {
  width: 50px;
  height: 50px;
  bottom: 50px;
  left: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  z-index: 99;
}

.carousel-next img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.carousel-indicators {
  bottom: 50px;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 100px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: left;
  width: 40%;
}

.carousel-caption h3 {
  margin-bottom: 30px;
  font-weight: bold;
}

.about-section {
  padding: 100px 100px;
}

.about-section h5 {
  font-weight: bold;
}

.about-section h5 img {
  margin-right: 20px;
}

.section-title {
  font-weight: bold;
  color: #1d3b70;
  position: relative;
  margin-left: 20px;
}

.section-title::before {
  position: absolute;
  left: -20px;
  width: 3px;
  height: 80%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "";
  background: #1d3b70;
}

.subtitle {
  color: #222222;
  font-weight: bold;
  margin: 20px 0;
}

.animation {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  opacity: 0;
}

.counter-block {
  text-align: center;
}

.mt-100 {
  margin-top: 100px;
}

.mt-50 {
  margin-top: 50px;
}

.owl-item {
  -webkit-box-shadow: 0 4px 10px #cccccc;
          box-shadow: 0 4px 10px #cccccc;
  margin: 20px 0;
  min-height: 530px;
}

.owl-item p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.owl-item img {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.owl-carousel-caption {
  padding: 20px;
  min-height: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.owl-stage {
  right: 50px;
}

.more-btn {
  position: relative;
  color: #222222;
  display: block !important;
}

.more-btn::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background: url(../images/arrow_right.png);
  margin-left: 10px;
  -webkit-transition: margin-left 0.2s;
  transition: margin-left 0.2s;
  top: 55%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.more-btn:hover {
  color: #222222;
}

.more-btn:hover::after {
  margin-left: 20px;
}

.blog-section h1 {
  margin-bottom: 50px;
}

.blog-section-item {
  -webkit-box-shadow: 0 4px 10px #cccccc;
          box-shadow: 0 4px 10px #cccccc;
}

.blog-section-item img {
  width: 100%;
}

.blog-section-caption {
  min-height: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 20px;
}

.blog-section-caption h6 {
  color: #1d3b70;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.blog-section-caption p {
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.blog-section-caption span {
  color: #999999;
}

.footer {
  background: #1d3b70;
  padding: 50px 100px;
  color: #fff;
}

.footer .nav-link {
  padding: 5px 0;
  margin-right: 20px;
  color: #fff;
}

.footer .nav-link img {
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 50%;
}

.footer .nav-link img:hover {
  border: 1px solid #fff;
}

.footer .logo {
  max-width: 200px;
}

.footer h6 {
  border-bottom: 1px solid #fff;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 20px;
}

.footer form input {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 10px;
}

.breadcrumb {
  background: none;
  margin-top: 30px;
}

.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: "\203A";
  font-size: 16px;
  font-weight: bold;
}

.investor-app, .entreprenuer-app {
  overflow: hidden;
}

.investor-app-block {
  position: relative;
}

.investor-app-block::after {
  width: 30%;
  height: 100%;
  content: "";
  background: url(../images/investor-app.png) no-repeat center;
  position: absolute;
  top: 0;
  right: -100px;
}

.entreprenuer-app-block {
  position: relative;
}

.entreprenuer-app-block::after {
  width: 30%;
  height: 100%;
  content: "";
  background: url(../images/entrepreneur-app.png) no-repeat center;
  position: absolute;
  top: 0;
  right: -100px;
}

.select-group {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.select-group select {
  width: 25%;
  padding: 10px;
  border-radius: 0;
  border-color: #cccccc;
}

.investment-item {
  display: block;
  cursor: pointer;
  color: #222222;
  -webkit-box-shadow: 0 4px 10px #cccccc;
          box-shadow: 0 4px 10px #cccccc;
}

.investment-item img {
  width: 100%;
}

.investment-item h6,
.investment-item h5 {
  color: #1d3b70;
  font-weight: bold;
}

.investment-item p {
  color: #222222;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.pagination {
  font-weight: bold;
}

.pagination .page-item.active .page-link {
  background: #2958e5;
  border-radius: 50%;
}

.pagination .page-item {
  border-radius: 50%;
}

.pagination .page-link {
  color: #222222;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  height: 100%;
  width: 100%;
  width: 56px;
  height: 56px;
  text-align: center;
  border-radius: 50% !important;
}

.about-mission img {
  -o-object-fit: cover;
     object-fit: cover;
}

.about .team-member {
  -webkit-box-shadow: 0 0 10px #cccccc;
          box-shadow: 0 0 10px #cccccc;
  padding: 20px;
  margin-top: 20px;
}

.about .team-member h2,
.about .team-member p {
  color: #222222;
  font-weight: bold;
}

.blog-item {
  max-height: 500px;
  display: block;
  -webkit-display: block;
  -webkit-box-shadow: 0 0 10px #cccccc;
          box-shadow: 0 0 10px #cccccc;
  margin-top: 30px;
}

.blog-item img {
  width: 100%;
  max-height: 300px;
}

.blog-item .blog-caption {
  padding: 20px;
  min-height: 200px;
  color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog-item .blog-caption h6 {
  font-weight: 600;
  color: #1d3b70;
}

.blog-item .blog-caption p {
  color: #222222;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.faq {
  position: relative !important;
}

.faq::before {
  width: 35%;
  position: absolute;
  content: "";
  height: 100%;
  background: url(../images/faq.png) no-repeat center;
  background-size: cover;
  left: -100px;
}

.faq #accordion {
  background: none;
}

.faq #accordion .card {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #ccc;
}

.faq #accordion .card-header {
  background: none;
  border: none;
  font-weight: bold;
}

.faq #accordion .card-header a {
  color: #1d3b70;
  position: relative;
  width: 100%;
  display: block;
}

.faq #accordion .card-header a::after {
  font-size: 2em;
  position: absolute;
  top: -4px;
  right: 0;
  content: "\02C7";
  /* adjust as needed, taken from font-awesome.css */
}

.faq #accordion .card-header a.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\02C6";
  /* adjust as needed, taken from font-awesome.css */
}

.contacts h2 {
  font-weight: bold;
  color: #222222;
  margin-bottom: 30px;
}

.contact-info p {
  font-weight: bold;
}

.contact-info p img {
  margin-right: 15px;
}

.need-more-help {
  padding: 50px 100px;
  background: #eee;
}

.need-more-help h2 {
  font-weight: bold;
}

@media only screen and (max-width: 992px) {
  .faq {
    position: relative !important;
  }
  .faq::before {
    content: none;
  }
  .select-group select {
    width: 50%;
  }
  .block-caption {
    margin: 20px 0;
  }
  .central-asia-block p {
    margin: 20px 0;
  }
  .blog-section-item {
    margin: 20px 0;
  }
  .px-100 {
    padding: 0 50px;
  }
  .need-more-help {
    padding: 50px;
  }
  .about-section {
    padding: 50px;
  }
  .navbar .line {
    width: calc(100% - 100px);
  }
  .navbar-collapse {
    background: rgba(29, 59, 112, 0.55);
  }
  .footer {
    padding: 50px;
  }
  .footer form input {
    width: 50%;
  }
  .footer h6 {
    margin: 20px 0;
  }
  .investor-app-block, .entreprenuer-app-block {
    position: relative;
  }
  .investor-app-block::after, .entreprenuer-app-block::after {
    content: none;
  }
  .nav-item button {
    padding: 0 !important;
    margin: 10px 0;
  }
  .navbar .nav-item:last-child {
    margin-bottom: 25px;
  }
  .carousel-caption {
    width: 80%;
  }
  .carousel-caption h3 {
    font-size: 1.5em;
  }
  .investment-item {
    margin-bottom: 15px;
  }
  .investment-item img {
    max-height: 270px;
  }
}

@media only screen and (max-width: 576px) {
  .px-100 {
    padding: 0 15px;
  }
  .need-more-help {
    padding: 30px 15px;
  }
  .about-section {
    padding: 50px 30px;
  }
  .mt-50 {
    margin-top: 20px;
  }
  .mt-100 {
    margin-top: 50px;
  }
  .carousel-caption {
    width: 100%;
    left: 0;
    padding: 0 30px;
  }
  .carousel-prev {
    left: 30px;
  }
  .carousel-next {
    right: 30px;
    left: auto;
  }
  .footer {
    padding: 30px;
  }
  .footer form input {
    width: 100%;
  }
  .select-group select {
    width: 100%;
  }
  .investment-item img {
    max-height: 260px;
  }
  .section-title {
    font-size: 1.5em;
    margin-top: 15px;
  }
}
/*# sourceMappingURL=style.css.map */