{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <section class="px-100 about">
        <div class="row">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'entrepreneur:entrepreneur' %}">Industries</a></li>
                <li class="breadcrumb-item active">{{ industries.title }}</li>
            </ul>
        </div>
        <div class="row animation">
            <div class="col-lg-12 animation_top">
                <h1 class="section-title">{{ posts.title }}</h1>
                <img src="{{industries.mainimageURL}}" class="w-100 mt-50" alt="">
            </div>
        </div>
        <div class="row align-items-center animation">
            <div class="col-lg-10 offset-lg-1 animation_left">
                <p class="mt-50">
                    {{ industries.body|safe }}
                </p>
            </div>
        </div>


    </section>
{% endblock %}