{% load static %}
<div class="footer px-100 mt-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <img src="{% static 'images/logo-white.png' %}" class="logo" alt="">
                <ul class="nav mt-4">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><img src="{% static 'images/facebook.png' %}" alt=""></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><img src="{% static 'images/instagram.png' %}" alt=""></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><img src="{% static 'images/twitter.png' %}" alt=""></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><img src="{% static 'images/telegram.png' %}" alt=""></a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2">
                <h6>Useful links</h6>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Investor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Entrepreneur</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contacts</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h6>Contacts</h6>
                <p class="mb-1">Address: Uzbekistan, Tashkent, st. Katta-Hirmontepa, 1, 1000002</p>
                <p><a href="" class="nav-link">E-mail: info@royalco.com</a></p>
                <p><a href="" class="nav-link">Phone: +99 899 999-99-99</a></p>
                <p><a href="" class="nav-link">Working days: Mon. - Sat: 9:00 to 18:00</a></p>
            </div>
            <div class="col-lg-4">
                <h6>Get in touch</h6>
                <form action="">
                    <div class="row">
                        <div class="col-lg-12">
                            <input type="text" placeholder="Name">
                            <input type="text" placeholder="Phone number">
                            <input type="text" placeholder="Message">
                        </div>
                    </div>
                    <button class="active-btn" type="submit">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>