{% load static %}
{% load i18n %}


<div class="container">
    <div class="row">
        <nav class="navbar navbar-expand-lg w-100">
            <!-- Brand -->
            <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/logo.png'%}" alt="logo"></a>

            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.59888 14.2008H23.5989M5.59888 8.20081H23.5989M5.59888 20.2008H23.5989"
                        stroke="#1D3B70" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>

            </button>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <div class="dropdown">
                            <a type="button" class="nav-link" data-toggle="dropdown">
                                Central Asia
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'asia:central-asia-detail' '1478-6270' %}">Geography</a>
                                <a class="dropdown-item" href="{% url 'asia:central-asia-detail' '6986-5741' %}">Economics</a>
                                <a class="dropdown-item" href="{% url 'asia:central-asia-detail' '5951-7651' %}">Central Asian Republics </a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a type="button" class="nav-link" data-toggle="dropdown">
                                Competence
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'competence:about' %}">About</a>
                                <a class="dropdown-item" href="{% url 'competence:about' %}">Our mission</a>
                                <a class="dropdown-item" href="{% url 'competence:about' %}">Our team</a>
                                <a class="dropdown-item" href="{% url 'competence:competence-detail' '4290-1299' %}">Capabilities</a>
                                <a class="dropdown-item" href="{% url 'competence:contact-us' %}">Contacts </a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a type="button" class="nav-link" data-toggle="dropdown">
                                What are we doing?
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'wedo:wedo-detail' '4225-1191' %}">Partnership cooperation</a>
                                <a class="dropdown-item" href="{% url 'wedo:wedo-detail' '113-9541' %}">Investor expectations</a>
                            </div>


                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a type="button" class="nav-link" data-toggle="dropdown">
                                Business Opportunities
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'wedo:opportunities-detail' '2491-8824' %}">Discover Industries</a>
                                <a class="dropdown-item" href="{% url 'wedo:opportunities-detail' '4746-2778' %}">Market Analysis</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a type="button" class="nav-link" data-toggle="dropdown">
                                Research and Analytics
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">News and analytics </a>
                                <a class="dropdown-item" href="#">Interesting Facts </a>
                                <a class="dropdown-item" href="#">Data and statistics </a>
                                <a class="dropdown-item" href="#">Recent Publications </a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item d-flex">
                        <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                            <input name="next" type="hidden" value="{{ redirect_to }}">
                            <select name="language" onchange="this.form.submit()" class="lang-select">
                                {% get_current_language as LANGUAGE_CODE %}
                                {% get_available_languages as LANGUAGES %}
                                {% get_language_info_list for LANGUAGES as languages %}

                                {% for language in languages %}
                                    <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                        {{ language.name_local }} ({{ language.code }})
                                    </option>
                                {% endfor %}

                            </select>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<!-- subnavbar -->
