{% load static %}
{% load i18n %}
<nav class="navbar navbar-expand-lg px-100">
        <!-- Brand -->
    <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/logo-white.png' %}" alt=""></a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <img src="{% static 'images/menu-icon.svg' %}" alt="">
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'infopages:about' %}">{% trans 'About us' %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'investors:investor-index' %}">{% trans 'Investor' %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'entrepreneurs:entrepreneur-index' %}">{% trans 'Entrepreneur' %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'infopages:news-list' %}">{% trans 'News' %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'staticpages:faq' %}">{% trans 'FAQ' %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'staticpages:contacts' %}">{% trans 'Contacts' %}</a>
            </li>
            <li class="nav-item">
                <button class="search-icon"><img src="{% static 'images/search-icon.svg' %}" alt=""></button>
            </li>
{#            <li class="nav-item">#}
{#                <div class="dropdown">#}
{#                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">#}
{#                        ENG#}
{#                    </button>#}
{#                    <div class="dropdown-menu">#}
{#                        <a class="dropdown-item" href="#">ENG</a>#}
{#                        <a class="dropdown-item" href="#">中國人</a>#}
{#                        <a class="dropdown-item" href="#">한국어</a>#}
{#                        <a class="dropdown-item" href="#">日本語</a>#}
{#                        <a class="dropdown-item" href="#">Deutsche</a>#}
{#                        <a class="dropdown-item" href="#">عربي</a>#}
{#                    </div>#}
{#                </div>#}
{#            </li>#}
            <li class="nav-item">
            <form  class="dropdown" id="languageForm" action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ redirect_to }}">
                <select id="languageSelect" name="language" class="form-select" aria-label="Language select">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                    <option class="dropdown-item" value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}
                            selected{% endif %}>
                        {{ language.name_local }}
                    </option>
                    {% endfor %}
                </select>
            </form>
            </li>
            <li class="nav-item">
                <a class="login-btn active-btn" href="login.html">{% trans 'Login' %}</a>
            </li>
        </ul>
    </div>
</nav>

<!-- search bar -->
<form action="" class="search-bar">
    <div class="overlay"></div>
    <div class="bar">
        <span></span>
        <input type="text" placeholder="Search from site ...">
        <button type="submit">{% trans 'Search' %}</button>
        <button type="button" class="close-btn">&times;</button>
    </div>
</form>